@import nib

randrom()
  return math(math(0, 'random') * 255, 'floor')
  
body
	font-family Arial

page()
	position relative

for n in (0...5)
	.page--{n}
		page()
		background rgba(randrom(), randrom(), randrom(), 0.5)

.title
	margin 0
	position absolute
	top 50%
	left 50%
	transform translate(-50%, -50%)
	font-size 2em