@import nib

body
	font-family Arial

page()
	position relative

.page
	&--1
		page()
		background rgba(red, 0.5)
	&--2	
		page()
		background rgba(yellow, 0.5)
	&--3
		page()
		background rgba(blue, 0.5)

.title
	margin 0
	position absolute
	top 50%
	left 50%
	transform translate(-50%, -50%)
	font-size 2em